@import './_colors.scss';
@import './_fonts.scss';
@import './_functions.scss';
@import './_mixins.scss';
@import './_reset.scss';
@import './_spacers.scss';
@import './_utils.scss';
@import './_variables.scss';

@include font-face('Inter', 'Inter-Thin', '$lib/fonts', 100, normal, woff2);
@include font-face('Inter', 'Inter-Regular', '$lib/fonts', 400, normal, woff2);
@include font-face('Inter', 'Inter-Bold', '$lib/fonts', 700, normal, woff2);
@include font-face('Inter', 'Inter-Black', '$lib/fonts', 900, normal, woff2);

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-font-smoothing: grayscale;
}

body {
	position: relative;
	font-family: 'Inter', sans-serif;
	line-height: 1;
	color: black;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html,
body {
	background-color: var(--clr-black);
	scroll-behavior: smooth;
}
