@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:where(:active, :focus) {
	outline: none;
}

a:where(:hover, :visited) {
	text-decoration: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

ol,
ul,
menu {
	list-style: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	-webkit-user-select: auto;
}

textarea {
	white-space: revert;
}
:where(pre) {
	all: revert;
}

::placeholder {
	color: unset;
}

::marker {
	content: initial;
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable='false'])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

:where([draggable='true']) {
	-webkit-user-drag: element;
}

:where(dialog:modal) {
	all: revert;
}
